<h6>Componente para el título {{nombre}}</h6>

<!-- 
<input type="text" name="text" id="text"  [(ngModel)]="inputContent">

<p>{{inputContent}}</p> -->

<label for="">Correo:
    <input class="form-control" type="email" [(ngModel)]="correo" >
</label>
<br>
<label for="">Contraseña: 
    <input class="form-control " type="password" (ngModelChange)="escribirModelo()" [(ngModel)]="password" >
</label>
<br>
<button (dblclick)="ingresar()" class="btn btn-primary">Iniciar</button>
<br>
<br>
<input class="form-control" type="text" (input)="escribirInput($event)" >